---
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../supabaseClient";

async function resetPassword(password: string) {
  await supabase.auth.resetPasswordForEmail("hello@example.com", {
    redirectTo: "http://example.com/account/update-password",
  });
}
---

<Layout>
  <div>Update Password</div>
  <input placeholder="password" type="password" />
</Layout>
